<div id="frame">
  <div class="content">
    <div class="contact-profile" *ngIf="ReceiverUser">
      <div class="contact-profile">
        <img src="images/user/{{ReceiverUser.img}}" alt="" />
        <p>{{ReceiverUser.userName}}</p>
      </div>
      <div id="messagesList" class="messages">
        <ul id="messagesList-ul" >
          <li class="{{c.csscls }}" *ngFor="let c of chatHistory">
            <img src="/images/user/{{c.img}}" alt="" />
            <p title="{{c.createdOn}}">{{c.message}} </p>
            <span><!--6/8/2018 4:20-->{{c.createdOn}}</span>
          </li>
          <!--<li class="sent">
            <img src="/images/user/{{ReceiverUser.img}}" alt="" />
            <p>Hello, How are you</p>
          </li>
          <li class="replies">
            <img src="~/images/user/sabir.jpg" alt="" />
            <p>When you're backed against the wall, break the god damn thing down.</p>
          </li>-->
        </ul>
        <div style="clear:both"></div>
      </div>
      <div class="message-input">
        <div class="wrap" *ngIf="ReceiverUser">
          <input type="hidden" id="ReceiverUserId" value="" [(ngModel)]="ReceiverUser.userId" />
          <input type="hidden" id="txtConnectionId" value="s" />
          <input type="text" id="messageInput" placeholder="Write your message..." [(ngModel)]="msg" />
          <button class="submit" id="sendButton" onclick="sendMessage();">Send</button>
        </div>
      </div>
      <!--<form #form="ngForm" name="myForm" novalidate>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" [(ngModel)]="ReceiverUser.userId" id="ReceiverUserId" name="ReceiverUserId" />
        <div class="form-group">
          <label class="control-label">{{ReceiverUser.userName}}</label>
          <input name="name" id="name" class="form-control cmpsl" [(ngModel)]="ReceiverUser.userName" required />
        </div>
        <div class="form-group">
          <input type="submit" value='Send' class="btn btn-default" (click)="send()" />
        </div>
      </form>-->
    </div>
  </div>
</div>

<!--onclick="return checkValidation();"
onclick="return callAPI();"
(click)="create()"-->
<!--{{form.prestine}}-->
<!--Model : {{ department | json }}-->
<!--<div>
  <a [routerLink]='["/fetch-department"]'>Back to List</a>
</div>-->
